#define colfg #d3d3d3
#define colbg #000000
#define col0  #201e24
#define col1  #2d2b30
#define col2  #3f3d40
#define col3  #413c3e
#define col4  #423e41
#define col5  #4e4a4b
#define col6  #6e6765
#define col7  #837e81
#define col8  #837c78
#define col9  #89827d
#define col10 #a7a099
#define col11 #c2bec1
#define col12 #c3bcb2
#define col13 #cbc5ba
#define col14 #e3ddd2
#define col15 #efe8dc

! special
*.foreground:   colfg
*.background:   colbg
*.cursorColor:  colfg

! black
*.color0:       col0
*.color8:       col8

! red
*.color1:       col1
*.color9:       col9

! green
*.color2:       col2
*.color10:      col10

! yellow
*.color3:       col3
*.color11:      col11

! blue
*.color4:       col4
*.color12:      col12

! magenta
*.color5:       col5
*.color13:      col13

! cyan
*.color6:       col6
*.color14:      col14

! white
*.color7:       col7
*.color15:      col15


Xft*dpi: {{config "dpi"}}
Xft*autohint: 0
Xft*lcdfilter: lcddefault
Xft*hintstyle: hintfull
Xft*hinting: 1
Xft*antialias: true
Xft*rgba: rgb

URxvt.scrollBar: false
URxvt.font: xft:Pragmata Pro:{{config "font-size"}}
urxvt*perl-ext-common: default,matcher
urxvt*url-launcher: {{config "browser"}}
urxvt*matcher.button: 1
urxvt*buffered: false

rofi.color-enabled: true
! outer background, ???, inner border
rofi.color-window: colbg, colbg, col0
! even row, text, odd row, hl row, hl text
rofi.color-normal: colbg, col14, colbg, col0, colfg

rofi.hide-scrollbar: true
rofi.separator-style: solid
rofi.fullscreen: false
rofi.fixed-num-lines: true
rofi.bw: 0
rofi.lines: 10
rofi.line-margin: 0
rofi.eh: 1
rofi.location: 0
rofi.sidebar-mode: true
rofi.terminal: urxvt
rofi.font: IBM\ 3270 20
