#define colfg #c7ccd1
#define colbg #1c2023
#define col0  #1c2023
#define col1  #c7ae95
#define col2  #95c7ae
#define col3  #aec795
#define col4  #ae95c7
#define col5  #c795ae
#define col6  #95aec7
#define col7  #c7ccd1
#define col8  #747c84
#define col9  #c7ae95
#define col10 #95c7ae
#define col11 #aec795
#define col12 #ae95c7
#define col13 #c795ae
#define col14 #95aec7
#define col15 #f3f4f5

! special
*.foreground:   colfg
*.background:   colbg
*.cursorColor:  colfg

! black
*.color0:       col0
*.color8:       col8

! red
*.color1:       col1
*.color9:       col9

! green
*.color2:       col2
*.color10:      col10

! yellow
*.color3:       col3
*.color11:      col11

! blue
*.color4:       col4
*.color12:      col12

! magenta
*.color5:       col5
*.color13:      col13

! cyan
*.color6:       col6
*.color14:      col14

! white
*.color7:       col7
*.color15:      col15


Xft*dpi: {{config "dpi"}}
Xft*autohint: 0
Xft*lcdfilter: lcddefault
Xft*hintstyle: hintfull
Xft*hinting: 1
Xft*antialias: true
Xft*rgba: rgb

URxvt.scrollBar: false
URxvt.font: xft:Pragmata Pro:{{config "font-size"}}
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: {{config "browser"}}
URxvt.matcher.button: 1
URxvt.buffered: false
URxvt.iso14755: false
URxvt.iso14755_52: false

#define rofibg #000411
#define rofitxt #66605f
#define rofihl #83b692
#define rofibord #83b692

rofi.color-enabled: true
! outer background, ???, inner border
rofi.color-window: rofibg, rofibg, rofibord
! even row, text, odd row, hl row, hl text
rofi.color-normal: rofibg, rofitxt, rofibg, rofihl, rofibg

rofi.hide-scrollbar: true
rofi.separator-style: solid
rofi.fullscreen: false
rofi.fixed-num-lines: true
rofi.bw: 0
rofi.lines: 10
rofi.line-margin: 0
rofi.eh: 1
rofi.location: 0
rofi.sidebar-mode: true
rofi.terminal: urxvt
rofi.font: IBM\ 3270 20
